<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>quoteBook!</title>
  </head>
  <body ng-controller="mainCtrl">
    <div class="main-container">
      <h1> My Favorite Quotes </h1>
      <div class="blog-container">
        <div class="button-container">
          <div class="add-quote" ng-click="toggleAddQuote()">
            Add Quote
          </div>
          <div class="remove-quote" ng-click="toggleRemoveQuote()">
            Remove Quote
          </div>
          <div class="filter-quote" ng-click="toggleFilterQuotes()">
            Filter Quote
          </div>
        </div>
        <div class="add-quote-container" ng-show="showAddQuote">
          Quote: <input type="text" ng-model="quote.text" placeholder="Quote"> <br/>
          Author: <input type="text" ng-model="quote.author" placeholder="Author"> <br />
          <input type="submit" ng-click="addQuote()" placeholder="Submit">
        </div>
        <div class="remove-quote-container" ng-show="showRemoveQuote">
          Enter the Quote you would Like to Remove: <input type="text" ng-model="removeQuoteText" placeholder="Quote"> <br/>
          <input type="submit" ng-click="removeQuote()" placeholder="Remove">
        </div>
        <div class="filter-quotes-container" ng-show="showFilterQuotes">
          Filter: <input type="text" ng-model="filterQuotes" placeholder="Filter"> <br/>
        </div>
        <div class="quote" ng-repeat="data in quotes | filter:filterQuotes">
          <div> {{data.text}} </div>
          <div class="author"> - {{data.author}} </div>
        </div>
      </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/dataService.js"></script>
    <script src="js/mainCtrl.js"></script>
  </body>
</html>